html {
  overflow-x: hidden;
}

body {
  background-image: url(imgs/background_image.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Trebuchet MS", "Arial";
  margin: 0 auto;
}

h1 {
  margin: 0px 0px;
  color: white;
  font-size: 150px;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 0 20px #000, 0 0 20px #000, 0 0 20px #000, 0 0 20px #000;
}

p {
  line-height: 24px;
  margin: 0px 0px;
  color: white;
  font-size: 24px;
  margin: 0% 0% 0% 17%;
}

span {
  margin: 0px 0px;
  color: white;
  font-size: 20px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  max-width: 1234px;
  margin: 20px auto;
  border: 3px solid rgb(0, 0, 0);
  position: sticky;
  top: 20px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 24px;
  padding: 16px 16px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}

.navbar a:hover {
  background-color: #ffffff;
  color: black;
  text-shadow: 0 0 0px #ffffff;
}

.error-title {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 250px;
  font-weight: bold;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}

.error-desc {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 40px;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}

@media only screen and (max-width: 1250px) {
  p {
    margin: 0 50px;
  }
}
