html {
  overflow-x: hidden;
}

body {
  background-image: url(imgs/background_image.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Trebuchet MS", "Arial";
}

h1 {
  margin: 0px 0px;
  color: white;
  font-size: 64px;
  font-weight: bold;
}

p {
  line-height: 20px;
  margin: 0px 0px;
  color: white;
  font-size: 20px;
}

span {
  margin: 0px 0px;
  color: white;
  font-size: 20px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 50px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #ffffff;
  color: black;
}

@media only screen and (max-width: 1250px) {
  p {
    margin: 0 50px;
  }
}
